<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="neon">Tin Tap Parlor</h1>
    <section>
         <form action="/queryDrinks" method="POST">
                <input type="text" placeholder="Liquor" name="ingredient">
                <input type="submit">
            </form>
    </section>

    <script src='js/main.js'></script>
</body>
</html>