/******************************************
/* BASE STYLES
/*******************************************/

/* * {
  border: 1px solid rgb(27, 27, 27) !important;
} */

:root {
  --acccent: rgb(255, 220, 107);
  --neon: orange;
  --background: rgb(15, 15, 15);
}

html {
  font-size: 62.5%;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: rgb(41, 41, 41);
  font-size: 1.6rem;
  color: white;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  line-height: 8rem;
  font-family: 'Diplomata', cursive, 'Courier New', Courier, monospace;
  word-spacing: 999px;
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1::first-letter {
  margin-left: -25px;
}

h2, h3, h4, h5, h6 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--acccent);
  /* line-height: 3rem; */
}

p, span, li {
  font-size: 1.6rem;
  font-weight: 400;
  /* line-height: 3rem; */
}

/* a {
  color: inherit;
  text-decoration: none;
} */

/* a:hover {
  color: var(--acccent);
} */

/******************************************
/* LAYOUT
/*******************************************/

.card {
  position: relative;
  background: var(--background);
  max-width: 900px;
  margin: 80px auto;
  word-break: break-word;
  border: solid 1px var(--acccent);
}

.card:before {
  content: " ";
  position: absolute;
  left: 8px;
  right: 8px;
  top: 8px;
  bottom: 8px;
  border: double 4px var(--acccent);
  pointer-events: none;
}

.card:hover {
  box-shadow: 0 0 0.4em hsl(0, 0%, 70%), 0 0 1em var(--neon), inset 0 0 0.2em hsl(0, 0%, 70%), inset 0 0 .5em var(--neon);
}

.cardFront, .cardBack {
  margin: 20px;
}

.cardFront > h1 {
  flex: 30;
}

.toolTip {
  flex: 1;
}

.cardFront {
  border-bottom: solid 1px var(--acccent);
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.cardBack {
  margin-top: 15px;
}

.ingredients {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  flex: 2;
}

.instructions {
  border-left: solid 1px var(--acccent);
  border-right: solid 1px var(--acccent);
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  flex: 6;
}

.image {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  flex: 3;
}

.measurement, .instruction {
  margin-top: 15px;
}

.measurement {
  color: var(--acccent);
}

.bullet {
  color: var(--acccent);
  flex: 1;
}

.instructionText {
  flex: 16;
}

/******************************************
/* HOMEPAGE
/*******************************************/

.homepage {
  text-align: center;
  /* padding: 50px; */
  min-height: 400px;
  box-shadow: 0 0 0.4em hsl(0, 0%, 70%), 0 0 1em var(--neon), inset 0 0 0.2em hsl(0, 0%, 70%), inset 0 0 .5em var(--neon);
}

.homepage > h1 {
  color: var(--acccent);
  font-size: 8rem;
  font-weight: 700;
  word-spacing: normal;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0;
  font-family: 'Neonderthaw', cursive, 'Courier New', Courier, monospace;
}

form {
  display: inline-block;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
}

.toolTip {
  font-size: 3.5rem;
  color: var(--acccent);
  position: relative;
  cursor: pointer;
}

.toolTipText {
  visibility: hidden;
  width: 120px;
  background-color: var(--background);
  border: 1px solid var(--acccent);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: -30px;
  left: -200%;
  z-index: 1;
}

.toolTip:hover .toolTipText {
  visibility: visible;
}

.neon:hover {
  color: var(--neon);
  text-shadow: 0 0 0.2em hsl(0, 0%, 70%), 0 0 0.5em var(--neon);
  position: relative;
}

.neonReflect::before {
  content: "";
  position: absolute;
  background: var(--neon);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/******************************************
/* MEDIA
/*******************************************/

/* @media only screen and (max-width: 1100px) {
  .flexContainerRow {
       flex-direction: column;
       align-items: center;
  }

  .reverse {
       flex-direction: column-reverse;
  }

  .flexContainerColumn {
       text-align: center;
  }

  h2, h3, h4, h5, h6 {
       padding: 30px;
  }
  
  span {
       font-size: 1.4rem
  }
} */