/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

* {
  /* border: 1px solid rgb(27, 27, 27) !important; */
}

html {
  font-size: 62.5%;
}


body {
  background-color: rgb(95, 95, 95);
  font-size: 1.6rem;
  color: white;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 8rem;
}

h2, h3, h4, h5, h6 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: gold;
}

p, span, li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: gold;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
}

/******************************************
/* LAYOUT
/*******************************************/

.card {
  background: black;
  max-width: 800px;
  margin: 0 auto;
  border: solid 1px gold;
}

.cardFront {
  margin: 50px auto 0 auto;
}

.section {
  padding: 10px;
}

.measurement {
  color: gold;
  /* display: block; */
  margin-top: 20px;
}

.ingredient {
  /* display: block; */
}

.instructions {
  /* text-align: right; */
}

.instruction {
  margin-top: 20px;
}

.bullet {
  color: gold;
}

/* .intro {
  max-width: 1000px;
  padding: 400px 0;
  color: darkred;
  background-color: rgba(255, 255, 255, 0)
}  */

/* .backDrop {
  padding: 0 calc(50vw - 500px);
  margin: 0;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
  border-left: none;
  border-right: none;
} */

/* header > .backDrop {
  background-color: rgba(255, 255, 255, 0)
} */

/* .about, .ingredients, .products, .purchase {
  border-bottom: 1px solid lightgrey;
} */



/* #imageLogo {
  background-image: url(../images/peppers.jpg);
}

#imageSteve {
  background-image: url(../images/steve.jpg);
}

#imagePeppers {
  background-image: url(../images/peppers.jpg);
}

#imageLimes {
  background-image: url(../images/limes.jpg);
}

#imageCharcoal {
  background-image: url(../images/charcoal.jpg);
} */

/* .right {
  text-align: right;
} */

/* .socialMedia {
  justify-content: space-evenly;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* @media only screen and (max-width: 1100px) {
  .flexContainerRow {
       flex-direction: column;
       align-items: center;
  }

  .reverse {
       flex-direction: column-reverse;
  }

  .flexContainerColumn {
       text-align: center;
  }

  h2, h3, h4, h5, h6 {
       padding: 30px;
  }
  
  span {
       font-size: 1.4rem
  }
} */