/******************************************
/* BASE STYLES
/*******************************************/

/* * {
  border: 1px solid rgb(27, 27, 27) !important;
} */

:root {
  --accent: hsl(46, 69%, 57%);
  --background: rgb(15, 15, 15);
  --neon: hsl(46, 92%, 64%);
  --white: hsla(0, 0%, 100%, 0.75);
  --boxShadowNeon: 0 0 0.4em var(--white), 0 0 1em var(--neon), inset 0 0 0.2em var(--white), inset 0 0 .5em var(--neon);
}

html {
  font-size: 62.5%;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
}

body {
  background-color: rgb(29, 29, 29);
  font-size: 1.6rem;
  color: white;
  padding-top: 5vw;
}

/* .index {
  background: url(../images/diagmonds.webp) repeat;
  background-size: 200px;
} */

.results {
  background: url(../images/diagmonds.webp) repeat;
  background-size: 200px;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 8rem;
  font-family: 'Diplomata', cursive, 'Courier New', Courier, monospace;
  word-spacing: 999px;
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2, h3, h4, h5, h6 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--accent);
  /* line-height: 3rem; */
}

p, span, li {
  font-size: 1.6rem;
  font-weight: 400;
  /* line-height: 3rem; */
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: var(--accent);
}

/******************************************
/* LAYOUT
/*******************************************/

.card {
  position: relative;
  background: var(--background);
  width: 80vw;
  max-width: 1200px;
  margin: 80px auto;
  word-break: break-word;
  border: solid 1px var(--accent);
}

.card:before {
  content: " ";
  position: absolute;
  left: 8px;
  right: 8px;
  top: 8px;
  bottom: 8px;
  border: double 4px var(--accent);
  pointer-events: none;
}

.cardFront, .cardBack {
  margin: 20px;
}

.cardFront > h1 {
  flex: 30;
}

.cardFront > h1::first-letter {
  margin-left: -25px;
  font-size: calc(1em + 20%);
}

.toolTip {
  flex: 1;
}

.cardFront {
  border-bottom: solid 1px var(--accent);
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.cardBack {
  margin-top: 15px;
}

.ingredients, .instructions, .glass {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.ingredients {
  flex: 2;
}

.instructions {
  border-left: solid 1px var(--accent);
  border-right: solid 1px var(--accent);
  flex: 6;
}

.glass {
  text-align: center;
  flex: 3;
}

.glass h3 {
  text-align: left;
}

.glass img {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.glass span {
  margin-top: 15px;
}

.measurement, .instruction, .glassImage {
  margin-top: 15px;
}

.measurement {
  color: var(--accent);
}

.bullet {
  color: var(--accent);
  flex: none;
  padding-right: 10px;
}

.instructionText {
  flex: 14;
}

/******************************************
/* HOMEPAGE
/*******************************************/

.homepage {
  text-align: center;
  min-height: 400px;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
}

#neonText {
  color: var(--accent);
  font-size: 8rem;
  font-weight: 700;
  word-spacing: normal;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0;
  font-family: 'Neonderthaw', cursive, 'Courier New', Courier, monospace;
}

.neon {
  box-shadow: var(--boxShadowNeon);
}

#neonReflect {
  overflow-x: hidden;
  object-fit: contain;
  border: none;
  content: "";
  position: absolute;
  background: var(--neon);
  top: 65%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(32em) rotateX(74deg) scale(1.2, .5);
  filter: blur(5em);
  opacity: .1;
}

.credit {
  /* position: absolute; */
  /* width: 100vw; */
  /* top: 10px; */
  justify-content: space-between;
  position: relative;
  top: -4vw;
}

.credit span {
  margin: 0 20px;
}

/******************************************
/* 404
/*******************************************/

.error p {
  margin-top: 10%;
  font-size: 3rem;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

.flexContainerColumn {
  display: flex;
  flex-direction: column;
}

.flexContainerRow {
  display: flex;
  flex-direction: row;
}

.toolTip {
  max-height: 35px;
  font-size: 3.5rem;
  color: var(--accent);
  position: relative;
  cursor: pointer;
}

.toolTipText {
  visibility: hidden;
  width: 120px;
  background-color: var(--background);
  border: 1px solid var(--accent);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  cursor: default;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: -30px;
  left: -170%;
  z-index: 1;
  /* user-select: none; */
}

.toolTip:hover .toolTipText {
  visibility: visible;
}

/******************************************
/* MEDIA
/*******************************************/

@media only screen and (max-width: 1024px) {

  h1 {
    font-size: 3rem;
    line-height: 6rem;
  }

  #neonText {
    font-size: 6rem;
  }

  .cardBack {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ingredients {
    order: 1;
    border-right: 1px solid var(--accent);
    flex: 3;
  }

  .glass {
    order: 2;
    flex: 2;
  }

  .instructions {
    flex: 1 1 100%;
    order: 3;
    border: none;
    border-top: 1px solid var(--accent);
    padding-top: 10px;
  }

  .credit {
    flex-direction: column-reverse;
    text-align: center;
  }

  .credit span {
    order: 2;
    padding-bottom: 10px;
  }

  .credit span + span {
    order: 1;
    padding-bottom: 10px;
  }

  .credit span + span + span {
    order: 3;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 512px) {

  h1 {
    font-size: 2rem;
    line-height: 4rem;
  }

  #neonText {
    font-size: 5rem;
  }

  .cardBack {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .ingredients {
    order: 2;
    /* flex: 2; */
    border: none;
    border-bottom: 1px solid var(--accent);
    padding-top: 10px;
  }

  .glass {
    order: 1;
    /* flex: 2; */
    border-bottom: 1px solid var(--accent);
  }

  .instructions {
    order: 3;
    /* flex: 1; */
    border: none;
  }

  .glass img {
    max-width: 35%;
  }

  .toolTip {
    font-size: 3rem;
  }

  .credit span {
    font-size: 1.4rem;
  }
}